{"swagger":"2.0","info":{"description":"<b>Internal API(s)</b> may not be supported in future releases. Use it at your own risk.\n<p><span style=\"color: #9F6000; background-color: #FEEFB3; padding:7px;\">&#9888; <b>Notice</b>: XML media type is deprecated. All new APIs or changes won't support XML. Please switch to JSON for data interchange.</span></p>","title":"VMware Aria Operations API"},"host":"lsrv00vrops01.sccloudinfra.net","basePath":"/suite-api","tags":[{"name":"Actions","description":"<i>/internal/actions/schedules</i> - APIs for performing action schedule operations"},{"name":"Agents","description":"<i>/internal/agent</i> - APIs for performing operations on agents"},{"name":"Applications","description":"<i>/api/applications/discovery/ </i> - APIs for application definitions and discovery resources"},{"name":"Cloud Proxies","description":"Cloud Proxy Management Controller"},{"name":"Cost Calculation","description":"<i>/internal/costcalculation</i> - APIs for handling cost calculation runs"},{"name":"Cost Drivers","description":"<i>/internal/costdrivers</i> - APIs for handling cost driver configurations"},{"name":"Integrations","description":"<i>/internal/integrations</i> - APIs for performing operations related to integration management"},{"name":"Internal Adapter Kinds","description":"<i>/internal/adapterkinds</i> - Internal REST APIs for installing Java adapters (as a .zip file), bringing in new metadata defined in a 'describe.xml' document, creating new adapter kinds and resource kinds in the system"},{"name":"Internal Adapters","description":"<i>/internal/adapters</i> - APIs for performing internal operations related to adapter management"},{"name":"Internal Alert Plugins","description":"<i>/internal/alertplugins</i> - APIs for performing operations on internal alert plugins and alert plugin types"},{"name":"Internal Auth","description":"<i>/internal/auth</i> - APIs for performing authentication based internal operations"},{"name":"Internal Data Publish","description":"<i>/internal/datastreams</i> - APIs for configurating internal data publisher plugin"},{"name":"Internal Events","description":"<i>/internal/events</i> APIs for performing internal operations on numerous events"},{"name":"Internal Physical Datacenters","description":"<i>/internal/physicaldatacenters</i> - APIs for performing internal operations related to physical datacenter management"},{"name":"Internal Resources","description":"<i>/internal/resources</i> APIs for performing internal operations on numerous resources"},{"name":"Internal Solutions","description":"<i>/api/internal/solutions</i> - APIs for performing operations on preinstalled solutions"},{"name":"Internal Super Metrics","description":"<i>/internal/supermetrics</i> - APIs performing internal operations on super metrics"},{"name":"Internal Symptoms","description":"<i>/internal/symptomdefinitions</i> - Internal APIs performing internal operations on symptom definitions and symptoms"},{"name":"Log Forwarding","description":"<i>/internal/management/log</i> - APIs for Self-monitoring logging configuration API operations"},{"name":"Metering","description":"<i>/internal/metering</i> - APIa for handling metering policies and resources in the system"},{"name":"Optimization","description":"<i>/internal/optimization</i> - APIs for Rightsizing and Reclaim"},{"name":"Policies","description":"<i>/internal/policies</i> - APIs for managing policies"},{"name":"Proxies","description":"<i>/internal/proxies</i> - Internal APIs for managing HTTP Proxies"},{"name":"Server Tag","description":"<i>/internal/servertag</i> - APIs for tagging on-demand servers of Google Cloud VMware Engine"},{"name":"Service Credentials","description":"<i>/internal/service/credentials</i> - APIs for managing Service credentials"},{"name":"VMC","description":"<i>/internal/vmc</i> - APIs for performing VMC based operations"},{"name":"Views","description":"<i>/internal/views</i> APIs for Views related data consumption"}],"schemes":["https"],"consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"paths":{"/internal/actions/automation/schedules":{"get":{"tags":["Actions"],"summary":"Get all action schedules","description":"Retrieve all action schedules in the system","operationId":"getActionSchedulesUsingGET_1","parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"}],"responses":{"200":{"description":"Action schedules","examples":{"application/json":"{\n  \"actionSchedules\" : [ {\n    \"id\" : \"a0442757-f4af-4c70-93af-991422c21a07\",\n    \"name\" : \"Rem schedule\",\n    \"description\" : \"Action schedule\",\n    \"enabled\" : true,\n    \"actionDetails\" : {\n      \"type\" : \"schedule-additional-action-details\",\n      \"actionKey\" : {\n        \"key\" : \"Power Off VM\",\n        \"adapterKindKey\" : \"VMWARE\"\n      }\n    },\n    \"actionScope\" : {\n      \"type\" : \"additional-action-schedule-scope\",\n      \"resourceIds\" : [ \"c1713367-40b7-4524-911b-b899d454de98\" ],\n      \"contextResourceKindKey\" : {\n        \"resourceKind\" : \"HostSystem\",\n        \"adapterKind\" : \"VMWARE\"\n      },\n      \"filters\" : [ {\n        \"scopeFilters\" : [ {\n          \"type\" : \"metric-filter\",\n          \"key\" : \"summary|total_memory_usage\",\n          \"numericOperator\" : \"LESS_THAN\",\n          \"numericValue\" : 25.5\n        } ]\n      } ]\n    },\n    \"scheduleConfig\" : {\n      \"timeZone\" : \"Asia/Seoul\",\n      \"startDate\" : \"2021-06-25T10:15\",\n      \"scheduleType\" : {\n        \"type\" : \"daily-schedule\",\n        \"recurrenceDayCount\" : 5\n      },\n      \"expirationDate\" : \"2021-06-26\",\n      \"pluginConfigs\" : [ {\n        \"type\" : \"email-plugin-config\",\n        \"id\" : \"pluginId\",\n        \"receiverEmail\" : \"example_user@gmail.com\"\n      } ]\n    },\n    \"modifiedByUser\" : \"admin\",\n    \"modificationTime\" : \"2021-06-17T10:15:30\",\n    \"lastRunStartTime\" : \"2021-06-18T08:00\",\n    \"nextRunStartTime\" : \"2021-06-19T08:00\"\n  } ]\n}","application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:action-automation-schedules xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:actionSchedules>\n        <ops:actionSchedule id=\"54dc1156-7a41-4d45-973f-8134e1583093\">\n            <ops:name>Rem schedule</ops:name>\n            <ops:description>Action schedule</ops:description>\n            <ops:enabled>true</ops:enabled>\n            <ops:actionDetails xsi:type=\"ops:schedule-additional-action-details\">\n                <ops:actionKey>\n                    <ops:key>Power Off VM</ops:key>\n                    <ops:adapterKindKey>VMWARE</ops:adapterKindKey>\n                </ops:actionKey>\n            </ops:actionDetails>\n            <ops:actionScope xsi:type=\"ops:additional-action-schedule-scope\">\n                <ops:resourceIds>\n                    <ops:resourceId>55b325f1-9715-4c58-9305-2292b2bbe8e5</ops:resourceId>\n                </ops:resourceIds>\n                <ops:contextResourceKindKey>\n                    <ops:resourceKind>HostSystem</ops:resourceKind>\n                    <ops:adapterKind>VMWARE</ops:adapterKind>\n                </ops:contextResourceKindKey>\n                <ops:filters>\n                    <ops:filter>\n                        <ops:scopeFilters>\n                            <ops:scopeFilter xsi:type=\"ops:metric-filter\">\n                                <ops:key>summary|total_memory_usage</ops:key>\n                                <ops:numericOperator>LESS_THAN</ops:numericOperator>\n                                <ops:numericValue>25.5</ops:numericValue>\n                            </ops:scopeFilter>\n                        </ops:scopeFilters>\n                    </ops:filter>\n                </ops:filters>\n            </ops:actionScope>\n            <ops:scheduleConfig>\n                <ops:timeZone>Asia/Seoul</ops:timeZone>\n                <ops:startDate>2021-06-25T10:15</ops:startDate>\n                <ops:scheduleType xsi:type=\"ops:daily-schedule\">\n                    <ops:recurrenceDayCount>5</ops:recurrenceDayCount>\n                </ops:scheduleType>\n                <ops:expirationDate>2021-06-26</ops:expirationDate>\n                <ops:pluginConfigs>\n                    <ops:pluginConfig xsi:type=\"ops:email-plugin-config\">\n                        <ops:id>pluginId</ops:id>\n                        <ops:receiverEmail>example_user@gmail.com</ops:receiverEmail>\n                    </ops:pluginConfig>\n                </ops:pluginConfigs>\n            </ops:scheduleConfig>\n            <ops:modifiedByUser>admin</ops:modifiedByUser>\n            <ops:modificationTime>2021-06-17T10:15:30</ops:modificationTime>\n            <ops:lastRunStartTime>2021-06-18T08:00</ops:lastRunStartTime>\n            <ops:nextRunStartTime>2021-06-19T08:00</ops:nextRunStartTime>\n        </ops:actionSchedule>\n    </ops:actionSchedules>\n</ops:action-automation-schedules>\n"},"schema":{"$ref":"#/definitions/action-automation-schedules"}}},"security":[{"OpsToken":[]}],"deprecated":false},"post":{"tags":["Actions"],"summary":"Create action schedule by provided schedule details","description":"Create action schedule by provided schedule details","operationId":"createActionScheduleUsingPOST_1","parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"in":"body","name":"actionSchedule","description":"Action schedule object.","required":true,"schema":{"$ref":"#/definitions/action-automation-schedule"},"x-examples":{"application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:action-automation-schedule xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:name>Rem schedule</ops:name>\n    <ops:description>Action schedule</ops:description>\n    <ops:enabled>true</ops:enabled>\n    <ops:actionDetails xsi:type=\"ops:schedule-additional-action-details\">\n        <ops:actionKey>\n            <ops:key>Power Off VM</ops:key>\n            <ops:adapterKindKey>VMWARE</ops:adapterKindKey>\n        </ops:actionKey>\n    </ops:actionDetails>\n    <ops:actionScope xsi:type=\"ops:additional-action-schedule-scope\">\n        <ops:resourceIds>\n            <ops:resourceId>230fef53-2920-4650-9b7d-b8eba51c4c7e</ops:resourceId>\n        </ops:resourceIds>\n        <ops:contextResourceKindKey>\n            <ops:resourceKind>HostSystem</ops:resourceKind>\n            <ops:adapterKind>VMWARE</ops:adapterKind>\n        </ops:contextResourceKindKey>\n        <ops:filters>\n            <ops:filter>\n                <ops:scopeFilters>\n                    <ops:scopeFilter xsi:type=\"ops:metric-filter\">\n                        <ops:key>summary|total_memory_usage</ops:key>\n                        <ops:numericOperator>LESS_THAN</ops:numericOperator>\n                        <ops:numericValue>25.5</ops:numericValue>\n                    </ops:scopeFilter>\n                </ops:scopeFilters>\n            </ops:filter>\n        </ops:filters>\n    </ops:actionScope>\n    <ops:scheduleConfig>\n        <ops:timeZone>Asia/Seoul</ops:timeZone>\n        <ops:startDate>2021-06-25T10:15</ops:startDate>\n        <ops:scheduleType xsi:type=\"ops:daily-schedule\">\n            <ops:recurrenceDayCount>5</ops:recurrenceDayCount>\n        </ops:scheduleType>\n        <ops:expirationDate>2021-06-26</ops:expirationDate>\n        <ops:pluginConfigs>\n            <ops:pluginConfig xsi:type=\"ops:email-plugin-config\">\n                <ops:id>pluginId</ops:id>\n                <ops:receiverEmail>example_user@gmail.com</ops:receiverEmail>\n            </ops:pluginConfig>\n        </ops:pluginConfigs>\n    </ops:scheduleConfig>\n</ops:action-automation-schedule>\n","application/json":"{\n  \"name\" : \"Rem schedule\",\n  \"description\" : \"Action schedule\",\n  \"enabled\" : true,\n  \"actionDetails\" : {\n    \"type\" : \"schedule-additional-action-details\",\n    \"actionKey\" : {\n      \"key\" : \"Power Off VM\",\n      \"adapterKindKey\" : \"VMWARE\"\n    }\n  },\n  \"actionScope\" : {\n    \"type\" : \"additional-action-schedule-scope\",\n    \"resourceIds\" : [ \"32703de2-11cb-49e9-8778-e39a972957cf\" ],\n    \"contextResourceKindKey\" : {\n      \"resourceKind\" : \"HostSystem\",\n      \"adapterKind\" : \"VMWARE\"\n    },\n    \"filters\" : [ {\n      \"scopeFilters\" : [ {\n        \"type\" : \"metric-filter\",\n        \"key\" : \"summary|total_memory_usage\",\n        \"numericOperator\" : \"LESS_THAN\",\n        \"numericValue\" : 25.5\n      } ]\n    } ]\n  },\n  \"scheduleConfig\" : {\n    \"timeZone\" : \"Asia/Seoul\",\n    \"startDate\" : \"2021-06-25T10:15\",\n    \"scheduleType\" : {\n      \"type\" : \"daily-schedule\",\n      \"recurrenceDayCount\" : 5\n    },\n    \"expirationDate\" : \"2021-06-26\",\n    \"pluginConfigs\" : [ {\n      \"type\" : \"email-plugin-config\",\n      \"id\" : \"pluginId\",\n      \"receiverEmail\" : \"example_user@gmail.com\"\n    } ]\n  }\n}"}}],"responses":{"201":{"description":"Created action schedule","examples":{"application/json":"{\n  \"id\" : \"f740378b-4069-4574-9358-e7160b5a252a\",\n  \"name\" : \"Rem schedule\",\n  \"description\" : \"Action schedule\",\n  \"enabled\" : true,\n  \"actionDetails\" : {\n    \"type\" : \"schedule-additional-action-details\",\n    \"actionKey\" : {\n      \"key\" : \"Power Off VM\",\n      \"adapterKindKey\" : \"VMWARE\"\n    }\n  },\n  \"actionScope\" : {\n    \"type\" : \"additional-action-schedule-scope\",\n    \"resourceIds\" : [ \"504fa293-c2a2-4e65-89cd-f4586bb67048\" ],\n    \"contextResourceKindKey\" : {\n      \"resourceKind\" : \"HostSystem\",\n      \"adapterKind\" : \"VMWARE\"\n    },\n    \"filters\" : [ {\n      \"scopeFilters\" : [ {\n        \"type\" : \"metric-filter\",\n        \"key\" : \"summary|total_memory_usage\",\n        \"numericOperator\" : \"LESS_THAN\",\n        \"numericValue\" : 25.5\n      } ]\n    } ]\n  },\n  \"scheduleConfig\" : {\n    \"timeZone\" : \"Asia/Seoul\",\n    \"startDate\" : \"2021-06-25T10:15\",\n    \"scheduleType\" : {\n      \"type\" : \"daily-schedule\",\n      \"recurrenceDayCount\" : 5\n    },\n    \"expirationDate\" : \"2021-06-26\",\n    \"pluginConfigs\" : [ {\n      \"type\" : \"email-plugin-config\",\n      \"id\" : \"pluginId\",\n      \"receiverEmail\" : \"example_user@gmail.com\"\n    } ]\n  },\n  \"modifiedByUser\" : \"admin\",\n  \"modificationTime\" : \"2021-06-17T10:15:30\",\n  \"lastRunStartTime\" : \"2021-06-18T08:00\",\n  \"nextRunStartTime\" : \"2021-06-19T08:00\"\n}","application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:action-automation-schedule id=\"97bbf2c8-f031-4105-a865-b2a5095635fb\" xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:name>Rem schedule</ops:name>\n    <ops:description>Action schedule</ops:description>\n    <ops:enabled>true</ops:enabled>\n    <ops:actionDetails xsi:type=\"ops:schedule-additional-action-details\">\n        <ops:actionKey>\n            <ops:key>Power Off VM</ops:key>\n            <ops:adapterKindKey>VMWARE</ops:adapterKindKey>\n        </ops:actionKey>\n    </ops:actionDetails>\n    <ops:actionScope xsi:type=\"ops:additional-action-schedule-scope\">\n        <ops:resourceIds>\n            <ops:resourceId>17c268bd-eb33-435f-a918-0671967cdbb4</ops:resourceId>\n        </ops:resourceIds>\n        <ops:contextResourceKindKey>\n            <ops:resourceKind>HostSystem</ops:resourceKind>\n            <ops:adapterKind>VMWARE</ops:adapterKind>\n        </ops:contextResourceKindKey>\n        <ops:filters>\n            <ops:filter>\n                <ops:scopeFilters>\n                    <ops:scopeFilter xsi:type=\"ops:metric-filter\">\n                        <ops:key>summary|total_memory_usage</ops:key>\n                        <ops:numericOperator>LESS_THAN</ops:numericOperator>\n                        <ops:numericValue>25.5</ops:numericValue>\n                    </ops:scopeFilter>\n                </ops:scopeFilters>\n            </ops:filter>\n        </ops:filters>\n    </ops:actionScope>\n    <ops:scheduleConfig>\n        <ops:timeZone>Asia/Seoul</ops:timeZone>\n        <ops:startDate>2021-06-25T10:15</ops:startDate>\n        <ops:scheduleType xsi:type=\"ops:daily-schedule\">\n            <ops:recurrenceDayCount>5</ops:recurrenceDayCount>\n        </ops:scheduleType>\n        <ops:expirationDate>2021-06-26</ops:expirationDate>\n        <ops:pluginConfigs>\n            <ops:pluginConfig xsi:type=\"ops:email-plugin-config\">\n                <ops:id>pluginId</ops:id>\n                <ops:receiverEmail>example_user@gmail.com</ops:receiverEmail>\n            </ops:pluginConfig>\n        </ops:pluginConfigs>\n    </ops:scheduleConfig>\n    <ops:modifiedByUser>admin</ops:modifiedByUser>\n    <ops:modificationTime>2021-06-17T10:15:30</ops:modificationTime>\n    <ops:lastRunStartTime>2021-06-18T08:00</ops:lastRunStartTime>\n    <ops:nextRunStartTime>2021-06-19T08:00</ops:nextRunStartTime>\n</ops:action-automation-schedule>\n"},"schema":{"$ref":"#/definitions/action-automation-schedule"}}},"security":[{"OpsToken":[]}],"deprecated":false},"put":{"tags":["Actions"],"summary":"Update action schedule by provided action schedule details","description":"Update action schedule by provided schedule details","operationId":"updateActionScheduleUsingPUT_1","parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"in":"body","name":"actionSchedule","description":"Action schedule object.","required":true,"schema":{"$ref":"#/definitions/action-automation-schedule"},"x-examples":{"application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:action-automation-schedule id=\"65be9f96-6b2c-42d4-b5fe-b3f3a25dad08\" xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:name>Rem schedule</ops:name>\n    <ops:description>Action schedule</ops:description>\n    <ops:enabled>true</ops:enabled>\n    <ops:actionScope xsi:type=\"ops:additional-action-schedule-scope\">\n        <ops:resourceIds>\n            <ops:resourceId>6e342332-44cd-4574-9237-6aef4721590a</ops:resourceId>\n        </ops:resourceIds>\n        <ops:contextResourceKindKey>\n            <ops:resourceKind>HostSystem</ops:resourceKind>\n            <ops:adapterKind>VMWARE</ops:adapterKind>\n        </ops:contextResourceKindKey>\n        <ops:filters>\n            <ops:filter>\n                <ops:scopeFilters>\n                    <ops:scopeFilter xsi:type=\"ops:metric-filter\">\n                        <ops:key>summary|total_memory_usage</ops:key>\n                        <ops:numericOperator>LESS_THAN</ops:numericOperator>\n                        <ops:numericValue>25.5</ops:numericValue>\n                    </ops:scopeFilter>\n                </ops:scopeFilters>\n            </ops:filter>\n        </ops:filters>\n    </ops:actionScope>\n    <ops:scheduleConfig>\n        <ops:timeZone>Asia/Seoul</ops:timeZone>\n        <ops:startDate>2021-06-25T10:15</ops:startDate>\n        <ops:scheduleType xsi:type=\"ops:daily-schedule\">\n            <ops:recurrenceDayCount>5</ops:recurrenceDayCount>\n        </ops:scheduleType>\n        <ops:expirationDate>2021-06-26</ops:expirationDate>\n        <ops:pluginConfigs>\n            <ops:pluginConfig xsi:type=\"ops:email-plugin-config\">\n                <ops:id>pluginId</ops:id>\n                <ops:receiverEmail>example_user@gmail.com</ops:receiverEmail>\n            </ops:pluginConfig>\n        </ops:pluginConfigs>\n    </ops:scheduleConfig>\n</ops:action-automation-schedule>\n","application/json":"{\n  \"id\" : \"85e936e8-83f1-4120-a16c-9f9d8eed9d6b\",\n  \"name\" : \"Rem schedule\",\n  \"description\" : \"Action schedule\",\n  \"enabled\" : true,\n  \"actionScope\" : {\n    \"type\" : \"additional-action-schedule-scope\",\n    \"resourceIds\" : [ \"5ea101b1-3507-497d-8b61-0cf0e9fde550\" ],\n    \"contextResourceKindKey\" : {\n      \"resourceKind\" : \"HostSystem\",\n      \"adapterKind\" : \"VMWARE\"\n    },\n    \"filters\" : [ {\n      \"scopeFilters\" : [ {\n        \"type\" : \"metric-filter\",\n        \"key\" : \"summary|total_memory_usage\",\n        \"numericOperator\" : \"LESS_THAN\",\n        \"numericValue\" : 25.5\n      } ]\n    } ]\n  },\n  \"scheduleConfig\" : {\n    \"timeZone\" : \"Asia/Seoul\",\n    \"startDate\" : \"2021-06-25T10:15\",\n    \"scheduleType\" : {\n      \"type\" : \"daily-schedule\",\n      \"recurrenceDayCount\" : 5\n    },\n    \"expirationDate\" : \"2021-06-26\",\n    \"pluginConfigs\" : [ {\n      \"type\" : \"email-plugin-config\",\n      \"id\" : \"pluginId\",\n      \"receiverEmail\" : \"example_user@gmail.com\"\n    } ]\n  }\n}"}}],"responses":{"200":{"description":"Updated action schedule","examples":{"application/json":"{\n  \"name\" : \"Rem schedule\",\n  \"description\" : \"Action schedule\",\n  \"enabled\" : true,\n  \"actionDetails\" : {\n    \"type\" : \"schedule-additional-action-details\",\n    \"actionKey\" : {\n      \"key\" : \"Power Off VM\",\n      \"adapterKindKey\" : \"VMWARE\"\n    }\n  },\n  \"actionScope\" : {\n    \"type\" : \"additional-action-schedule-scope\",\n    \"resourceIds\" : [ \"884997e4-2393-45dd-8c40-19943f658198\" ],\n    \"contextResourceKindKey\" : {\n      \"resourceKind\" : \"HostSystem\",\n      \"adapterKind\" : \"VMWARE\"\n    },\n    \"filters\" : [ {\n      \"scopeFilters\" : [ {\n        \"type\" : \"metric-filter\",\n        \"key\" : \"summary|total_memory_usage\",\n        \"numericOperator\" : \"LESS_THAN\",\n        \"numericValue\" : 25.5\n      } ]\n    } ]\n  },\n  \"scheduleConfig\" : {\n    \"timeZone\" : \"Asia/Seoul\",\n    \"startDate\" : \"2021-06-25T10:15\",\n    \"scheduleType\" : {\n      \"type\" : \"daily-schedule\",\n      \"recurrenceDayCount\" : 5\n    },\n    \"expirationDate\" : \"2021-06-26\",\n    \"pluginConfigs\" : [ {\n      \"type\" : \"email-plugin-config\",\n      \"id\" : \"pluginId\",\n      \"receiverEmail\" : \"example_user@gmail.com\"\n    } ]\n  }\n}","application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:action-automation-schedule xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:name>Rem schedule</ops:name>\n    <ops:description>Action schedule</ops:description>\n    <ops:enabled>true</ops:enabled>\n    <ops:actionDetails xsi:type=\"ops:schedule-additional-action-details\">\n        <ops:actionKey>\n            <ops:key>Power Off VM</ops:key>\n            <ops:adapterKindKey>VMWARE</ops:adapterKindKey>\n        </ops:actionKey>\n    </ops:actionDetails>\n    <ops:actionScope xsi:type=\"ops:additional-action-schedule-scope\">\n        <ops:resourceIds>\n            <ops:resourceId>23997c35-2a80-4666-8c6e-06800e9708a9</ops:resourceId>\n        </ops:resourceIds>\n        <ops:contextResourceKindKey>\n            <ops:resourceKind>HostSystem</ops:resourceKind>\n            <ops:adapterKind>VMWARE</ops:adapterKind>\n        </ops:contextResourceKindKey>\n        <ops:filters>\n            <ops:filter>\n                <ops:scopeFilters>\n                    <ops:scopeFilter xsi:type=\"ops:metric-filter\">\n                        <ops:key>summary|total_memory_usage</ops:key>\n                        <ops:numericOperator>LESS_THAN</ops:numericOperator>\n                        <ops:numericValue>25.5</ops:numericValue>\n                    </ops:scopeFilter>\n                </ops:scopeFilters>\n            </ops:filter>\n        </ops:filters>\n    </ops:actionScope>\n    <ops:scheduleConfig>\n        <ops:timeZone>Asia/Seoul</ops:timeZone>\n        <ops:startDate>2021-06-25T10:15</ops:startDate>\n        <ops:scheduleType xsi:type=\"ops:daily-schedule\">\n            <ops:recurrenceDayCount>5</ops:recurrenceDayCount>\n        </ops:scheduleType>\n        <ops:expirationDate>2021-06-26</ops:expirationDate>\n        <ops:pluginConfigs>\n            <ops:pluginConfig xsi:type=\"ops:email-plugin-config\">\n                <ops:id>pluginId</ops:id>\n                <ops:receiverEmail>example_user@gmail.com</ops:receiverEmail>\n            </ops:pluginConfig>\n        </ops:pluginConfigs>\n    </ops:scheduleConfig>\n</ops:action-automation-schedule>\n"},"schema":{"$ref":"#/definitions/action-automation-schedule"}}},"security":[{"OpsToken":[]}],"deprecated":false}},"/internal/actions/automation/schedules/query":{"post":{"tags":["Actions"],"summary":"Get schedules by applying specific filters","description":"Operation parameters for Custom Actions will be ignored while filtering","operationId":"getFilteredActionSchedulesUsingPOST_1","parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"in":"body","name":"filters","description":"Schedule filter object.","required":false,"schema":{"$ref":"#/definitions/action-schedule-filter"},"x-examples":{"application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:action-schedule-filter xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:filters>\n        <ops:filter>\n            <ops:filter>NAME</ops:filter>\n            <ops:value>Rem schedule</ops:value>\n        </ops:filter>\n    </ops:filters>\n    <ops:statuses>\n        <ops:status>ENABLED</ops:status>\n    </ops:statuses>\n    <ops:schedulesActionDetails>\n        <ops:scheduleActionDetails xsi:type=\"ops:schedule-additional-action-details\">\n            <ops:actionKey>\n                <ops:key>Power Off VM</ops:key>\n                <ops:adapterKindKey>VMWARE</ops:adapterKindKey>\n            </ops:actionKey>\n        </ops:scheduleActionDetails>\n    </ops:schedulesActionDetails>\n</ops:action-schedule-filter>\n","application/json":"{\n  \"filters\" : [ {\n    \"filter\" : \"NAME\",\n    \"value\" : \"Rem schedule\"\n  } ],\n  \"statuses\" : [ \"ENABLED\" ],\n  \"schedulesActionDetails\" : [ {\n    \"type\" : \"schedule-additional-action-details\",\n    \"actionKey\" : {\n      \"key\" : \"Power Off VM\",\n      \"adapterKindKey\" : \"VMWARE\"\n    }\n  } ]\n}"}}],"responses":{"200":{"description":"Action schedules","examples":{"application/json":"{\n  \"actionSchedules\" : [ {\n    \"name\" : \"Rem schedule\",\n    \"description\" : \"Action schedule\",\n    \"enabled\" : true,\n    \"actionDetails\" : {\n      \"type\" : \"schedule-additional-action-details\",\n      \"actionKey\" : {\n        \"key\" : \"Power Off VM\",\n        \"adapterKindKey\" : \"VMWARE\"\n      }\n    },\n    \"actionScope\" : {\n      \"type\" : \"additional-action-schedule-scope\",\n      \"resourceIds\" : [ \"8bf781b4-e142-489e-ab3f-67f1584d40e2\" ],\n      \"contextResourceKindKey\" : {\n        \"resourceKind\" : \"HostSystem\",\n        \"adapterKind\" : \"VMWARE\"\n      },\n      \"filters\" : [ {\n        \"scopeFilters\" : [ {\n          \"type\" : \"metric-filter\",\n          \"key\" : \"summary|total_memory_usage\",\n          \"numericOperator\" : \"LESS_THAN\",\n          \"numericValue\" : 25.5\n        } ]\n      } ]\n    },\n    \"scheduleConfig\" : {\n      \"timeZone\" : \"Asia/Seoul\",\n      \"startDate\" : \"2021-06-25T10:15\",\n      \"scheduleType\" : {\n        \"type\" : \"daily-schedule\",\n        \"recurrenceDayCount\" : 5\n      },\n      \"expirationDate\" : \"2021-06-26\",\n      \"pluginConfigs\" : [ {\n        \"type\" : \"email-plugin-config\",\n        \"id\" : \"pluginId\",\n        \"receiverEmail\" : \"example_user@gmail.com\"\n      } ]\n    }\n  } ]\n}","application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:action-automation-schedules xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:actionSchedules>\n        <ops:actionSchedule>\n            <ops:name>Rem schedule</ops:name>\n            <ops:description>Action schedule</ops:description>\n            <ops:enabled>true</ops:enabled>\n            <ops:actionDetails xsi:type=\"ops:schedule-additional-action-details\">\n                <ops:actionKey>\n                    <ops:key>Power Off VM</ops:key>\n                    <ops:adapterKindKey>VMWARE</ops:adapterKindKey>\n                </ops:actionKey>\n            </ops:actionDetails>\n            <ops:actionScope xsi:type=\"ops:additional-action-schedule-scope\">\n                <ops:resourceIds>\n                    <ops:resourceId>2a9a5ad8-53cc-4b05-8957-85f4c6a8fafb</ops:resourceId>\n                </ops:resourceIds>\n                <ops:contextResourceKindKey>\n                    <ops:resourceKind>HostSystem</ops:resourceKind>\n                    <ops:adapterKind>VMWARE</ops:adapterKind>\n                </ops:contextResourceKindKey>\n                <ops:filters>\n                    <ops:filter>\n                        <ops:scopeFilters>\n                            <ops:scopeFilter xsi:type=\"ops:metric-filter\">\n                                <ops:key>summary|total_memory_usage</ops:key>\n                                <ops:numericOperator>LESS_THAN</ops:numericOperator>\n                                <ops:numericValue>25.5</ops:numericValue>\n                            </ops:scopeFilter>\n                        </ops:scopeFilters>\n                    </ops:filter>\n                </ops:filters>\n            </ops:actionScope>\n            <ops:scheduleConfig>\n                <ops:timeZone>Asia/Seoul</ops:timeZone>\n                <ops:startDate>2021-06-25T10:15</ops:startDate>\n                <ops:scheduleType xsi:type=\"ops:daily-schedule\">\n                    <ops:recurrenceDayCount>5</ops:recurrenceDayCount>\n                </ops:scheduleType>\n                <ops:expirationDate>2021-06-26</ops:expirationDate>\n                <ops:pluginConfigs>\n                    <ops:pluginConfig xsi:type=\"ops:email-plugin-config\">\n                        <ops:id>pluginId</ops:id>\n                        <ops:receiverEmail>example_user@gmail.com</ops:receiverEmail>\n                    </ops:pluginConfig>\n                </ops:pluginConfigs>\n            </ops:scheduleConfig>\n        </ops:actionSchedule>\n    </ops:actionSchedules>\n</ops:action-automation-schedules>\n"},"schema":{"$ref":"#/definitions/action-automation-schedules"}}},"security":[{"OpsToken":[]}],"deprecated":false}},"/internal/actions/automation/schedules/{id}":{"get":{"tags":["Actions"],"summary":"Get action schedule by provided schedule id","description":"Get action schedule by provided schedule id","operationId":"getActionScheduleUsingGET_1","parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Action schedule","examples":{"application/json":"{\n  \"id\" : \"d9ea1024-4669-4116-b80b-b362cf0b276c\",\n  \"name\" : \"Rem schedule\",\n  \"description\" : \"Action schedule\",\n  \"enabled\" : true,\n  \"actionDetails\" : {\n    \"type\" : \"schedule-additional-action-details\",\n    \"actionKey\" : {\n      \"key\" : \"Power Off VM\",\n      \"adapterKindKey\" : \"VMWARE\"\n    }\n  },\n  \"actionScope\" : {\n    \"type\" : \"additional-action-schedule-scope\",\n    \"resourceIds\" : [ \"bf3bde0a-6809-4bb0-82b8-5313bdc79339\" ],\n    \"contextResourceKindKey\" : {\n      \"resourceKind\" : \"HostSystem\",\n      \"adapterKind\" : \"VMWARE\"\n    },\n    \"filters\" : [ {\n      \"scopeFilters\" : [ {\n        \"type\" : \"metric-filter\",\n        \"key\" : \"summary|total_memory_usage\",\n        \"numericOperator\" : \"LESS_THAN\",\n        \"numericValue\" : 25.5\n      } ]\n    } ]\n  },\n  \"scheduleConfig\" : {\n    \"timeZone\" : \"Asia/Seoul\",\n    \"startDate\" : \"2021-06-25T10:15\",\n    \"scheduleType\" : {\n      \"type\" : \"daily-schedule\",\n      \"recurrenceDayCount\" : 5\n    },\n    \"expirationDate\" : \"2021-06-26\",\n    \"pluginConfigs\" : [ {\n      \"type\" : \"email-plugin-config\",\n      \"id\" : \"pluginId\",\n      \"receiverEmail\" : \"example_user@gmail.com\"\n    } ]\n  },\n  \"modifiedByUser\" : \"admin\",\n  \"modificationTime\" : \"2021-06-17T10:15:30\",\n  \"lastRunStartTime\" : \"2021-06-18T08:00\",\n  \"nextRunStartTime\" : \"2021-06-19T08:00\"\n}","application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:action-automation-schedule id=\"45b59fe4-6c64-4ebe-aecc-06b6e6cb3ce1\" xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:name>Rem schedule</ops:name>\n    <ops:description>Action schedule</ops:description>\n    <ops:enabled>true</ops:enabled>\n    <ops:actionDetails xsi:type=\"ops:schedule-additional-action-details\">\n        <ops:actionKey>\n            <ops:key>Power Off VM</ops:key>\n            <ops:adapterKindKey>VMWARE</ops:adapterKindKey>\n        </ops:actionKey>\n    </ops:actionDetails>\n    <ops:actionScope xsi:type=\"ops:additional-action-schedule-scope\">\n        <ops:resourceIds>\n            <ops:resourceId>75d1a2a9-cc26-48b0-a4f8-182b5022bd7e</ops:resourceId>\n        </ops:resourceIds>\n        <ops:contextResourceKindKey>\n            <ops:resourceKind>HostSystem</ops:resourceKind>\n            <ops:adapterKind>VMWARE</ops:adapterKind>\n        </ops:contextResourceKindKey>\n        <ops:filters>\n            <ops:filter>\n                <ops:scopeFilters>\n                    <ops:scopeFilter xsi:type=\"ops:metric-filter\">\n                        <ops:key>summary|total_memory_usage</ops:key>\n                        <ops:numericOperator>LESS_THAN</ops:numericOperator>\n                        <ops:numericValue>25.5</ops:numericValue>\n                    </ops:scopeFilter>\n                </ops:scopeFilters>\n            </ops:filter>\n        </ops:filters>\n    </ops:actionScope>\n    <ops:scheduleConfig>\n        <ops:timeZone>Asia/Seoul</ops:timeZone>\n        <ops:startDate>2021-06-25T10:15</ops:startDate>\n        <ops:scheduleType xsi:type=\"ops:daily-schedule\">\n            <ops:recurrenceDayCount>5</ops:recurrenceDayCount>\n        </ops:scheduleType>\n        <ops:expirationDate>2021-06-26</ops:expirationDate>\n        <ops:pluginConfigs>\n            <ops:pluginConfig xsi:type=\"ops:email-plugin-config\">\n                <ops:id>pluginId</ops:id>\n                <ops:receiverEmail>example_user@gmail.com</ops:receiverEmail>\n            </ops:pluginConfig>\n        </ops:pluginConfigs>\n    </ops:scheduleConfig>\n    <ops:modifiedByUser>admin</ops:modifiedByUser>\n    <ops:modificationTime>2021-06-17T10:15:30</ops:modificationTime>\n    <ops:lastRunStartTime>2021-06-18T08:00</ops:lastRunStartTime>\n    <ops:nextRunStartTime>2021-06-19T08:00</ops:nextRunStartTime>\n</ops:action-automation-schedule>\n"},"schema":{"$ref":"#/definitions/action-automation-schedule"}}},"security":[{"OpsToken":[]}],"deprecated":false},"delete":{"tags":["Actions"],"summary":"Delete action schedule by id","description":"Delete action schedule by id","operationId":"deleteActionScheduleUsingDELETE_1","produces":["*/*"],"parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"}},"security":[{"OpsToken":[]}],"deprecated":false}},"/internal/actions/schedules":{"get":{"tags":["Actions"],"summary":"Get all action schedules","operationId":"getActionSchedulesUsingGET","parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"}],"responses":{"200":{"description":"Action schedules","examples":{"application/json":"{\n  \"actionSchedules\" : [ {\n    \"id\" : \"77e8bb14-cb47-4532-a895-99feef01c082\",\n    \"name\" : \"Reboot schedule\",\n    \"description\" : \"Action schedule to reboot VMs\",\n    \"scheduleOperation\" : \"REBOOT_VM\",\n    \"actionScope\" : {\n      \"virtualMachineIds\" : [ \"501dcd82-2d38-4896-b025-4beb1020dd0f\", \"0151d3e9-ffc2-4117-95cf-b200c1bb4b6e\" ]\n    },\n    \"scheduleSettings\" : {\n      \"timeZone\" : \"Asia/Seoul\",\n      \"startDate\" : \"2021-06-16\",\n      \"startTime\" : \"12:30\",\n      \"scheduleType\" : {\n        \"type\" : \"weekly-schedule\",\n        \"recurrenceWeekCount\" : 15,\n        \"weekDays\" : [ 1, 3, 5 ]\n      },\n      \"expirationDate\" : \"2021-06-26\",\n      \"pluginConfig\" : {\n        \"type\" : \"email-plugin-config\",\n        \"id\" : \"pluginId\",\n        \"receiverEmail\" : \"example_user@gmail.com\"\n      }\n    },\n    \"modifiedByUser\" : \"admin\",\n    \"modificationTime\" : \"2021-06-20T11:27:35\",\n    \"lastRunStartTime\" : \"2021-06-20T12:30\",\n    \"nextRunStartTime\" : \"2021-06-21T12:30\"\n  }, {\n    \"id\" : \"68de1996-3313-4e17-9f03-829cf4f7bfdd\",\n    \"name\" : \"Downsize schedule\",\n    \"description\" : \"Action schedule to delete old snapshot\",\n    \"scheduleOperation\" : \"DELETE_OLD_SNAPSHOT\",\n    \"scheduleOperationParams\" : {\n      \"type\" : \"SNAPSHOT_RECLAIM_PARAMS\",\n      \"sizeLimitCondition\" : {\n        \"type\" : \"NUMERIC_SCHEDULE_CONDITION\",\n        \"operator\" : \"EQUALS\",\n        \"value\" : 3.0\n      },\n      \"nameCondition\" : {\n        \"type\" : \"STRING_SCHEDULE_CONDITION\",\n        \"operator\" : \"CONTAINS\",\n        \"value\" : \"Test\"\n      },\n      \"reclaimAfter\" : 2\n    },\n    \"actionScope\" : {\n      \"resourceIds\" : [ \"e6cdf087-5f04-43af-b8d6-dcc937ff47e1\", \"ffaf64a5-0441-47e7-87a4-4e1ac76bde6c\", \"d0c40ae5-6107-4f80-b83f-0e3f7a3fa6e6\" ],\n      \"filters\" : [ {\n        \"scopeFilters\" : [ {\n          \"type\" : \"metric-filter\",\n          \"key\" : \"summary|total_memory_usage\",\n          \"numericOperator\" : \"LESS_THAN\",\n          \"numericValue\" : 25.5\n        } ]\n      } ]\n    },\n    \"scheduleSettings\" : {\n      \"timeZone\" : \"Asia/Seoul\",\n      \"startDate\" : \"2021-06-15\",\n      \"startTime\" : \"08:00\",\n      \"scheduleType\" : {\n        \"type\" : \"daily-schedule\",\n        \"recurrenceDayCount\" : 5\n      },\n      \"expirationDate\" : \"2021-06-25\",\n      \"pluginConfig\" : {\n        \"type\" : \"email-plugin-config\",\n        \"id\" : \"pluginId\",\n        \"receiverEmail\" : \"example_user@gmail.com\"\n      }\n    },\n    \"modifiedByUser\" : \"admin\",\n    \"modificationTime\" : \"2021-06-17T10:15:30\",\n    \"lastRunStartTime\" : \"2021-06-18T08:00\",\n    \"nextRunStartTime\" : \"2021-06-19T08:00\"\n  } ]\n}","application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:action-schedules xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:action-schedule id=\"952dc8f2-452b-4c30-a781-de8fef01679c\">\n        <ops:name>Reboot schedule</ops:name>\n        <ops:description>Action schedule to reboot VMs</ops:description>\n        <ops:scheduleOperation>REBOOT_VM</ops:scheduleOperation>\n        <ops:actionScope>\n            <ops:resourceIds/>\n            <ops:virtualMachineIds>501dcd82-2d38-4896-b025-4beb1020dd0f</ops:virtualMachineIds>\n            <ops:virtualMachineIds>0151d3e9-ffc2-4117-95cf-b200c1bb4b6e</ops:virtualMachineIds>\n        </ops:actionScope>\n        <ops:scheduleSettings>\n            <ops:timeZone>Asia/Seoul</ops:timeZone>\n            <ops:startDate>2021-06-16</ops:startDate>\n            <ops:startTime>12:30</ops:startTime>\n            <ops:scheduleType xsi:type=\"ops:weekly-schedule\">\n                <ops:recurrenceWeekCount>15</ops:recurrenceWeekCount>\n                <ops:weekDays>1 3 5</ops:weekDays>\n            </ops:scheduleType>\n            <ops:expirationDate>2021-06-26</ops:expirationDate>\n            <ops:pluginConfig xsi:type=\"ops:email-plugin-config\">\n                <ops:id>pluginId</ops:id>\n                <ops:receiverEmail>example_user@gmail.com</ops:receiverEmail>\n            </ops:pluginConfig>\n        </ops:scheduleSettings>\n        <ops:modifiedByUser>admin</ops:modifiedByUser>\n        <ops:modificationTime>2021-06-20T11:27:35</ops:modificationTime>\n        <ops:lastRunStartTime>2021-06-20T12:30</ops:lastRunStartTime>\n        <ops:nextRunStartTime>2021-06-21T12:30</ops:nextRunStartTime>\n    </ops:action-schedule>\n    <ops:action-schedule id=\"adccee99-5ae6-4e05-a6c3-006d3e4a4f1a\">\n        <ops:name>Downsize schedule</ops:name>\n        <ops:description>Action schedule to delete old snapshot</ops:description>\n        <ops:scheduleOperation>DELETE_OLD_SNAPSHOT</ops:scheduleOperation>\n        <ops:scheduleOperationParams xsi:type=\"ops:snapshotReclaimParams\">\n            <ops:reclaimAfter>2</ops:reclaimAfter>\n            <ops:sizeLimitCondition>\n                <ops:operator>EQUALS</ops:operator>\n                <ops:value>3.0</ops:value>\n            </ops:sizeLimitCondition>\n            <ops:nameCondition>\n                <ops:operator>CONTAINS</ops:operator>\n                <ops:value>Test</ops:value>\n            </ops:nameCondition>\n        </ops:scheduleOperationParams>\n        <ops:actionScope>\n            <ops:resourceIds>\n                <ops:resourceId>e6cdf087-5f04-43af-b8d6-dcc937ff47e1</ops:resourceId>\n                <ops:resourceId>ffaf64a5-0441-47e7-87a4-4e1ac76bde6c</ops:resourceId>\n                <ops:resourceId>d0c40ae5-6107-4f80-b83f-0e3f7a3fa6e6</ops:resourceId>\n            </ops:resourceIds>\n            <ops:filters>\n                <ops:scopeFilters>\n                    <ops:scopeFilter xsi:type=\"ops:metric-filter\">\n                        <ops:key>summary|total_memory_usage</ops:key>\n                        <ops:numericOperator>LESS_THAN</ops:numericOperator>\n                        <ops:numericValue>25.5</ops:numericValue>\n                    </ops:scopeFilter>\n                </ops:scopeFilters>\n            </ops:filters>\n        </ops:actionScope>\n        <ops:scheduleSettings>\n            <ops:timeZone>Asia/Seoul</ops:timeZone>\n            <ops:startDate>2021-06-15</ops:startDate>\n            <ops:startTime>08:00</ops:startTime>\n            <ops:scheduleType xsi:type=\"ops:daily-schedule\">\n                <ops:recurrenceDayCount>5</ops:recurrenceDayCount>\n            </ops:scheduleType>\n            <ops:expirationDate>2021-06-25</ops:expirationDate>\n            <ops:pluginConfig xsi:type=\"ops:email-plugin-config\">\n                <ops:id>pluginId</ops:id>\n                <ops:receiverEmail>example_user@gmail.com</ops:receiverEmail>\n            </ops:pluginConfig>\n        </ops:scheduleSettings>\n        <ops:modifiedByUser>admin</ops:modifiedByUser>\n        <ops:modificationTime>2021-06-17T10:15:30</ops:modificationTime>\n        <ops:lastRunStartTime>2021-06-18T08:00</ops:lastRunStartTime>\n        <ops:nextRunStartTime>2021-06-19T08:00</ops:nextRunStartTime>\n    </ops:action-schedule>\n</ops:action-schedules>\n"},"schema":{"$ref":"#/definitions/action-schedules"}}},"security":[{"OpsToken":[]}],"deprecated":true},"post":{"tags":["Actions"],"summary":"Create action schedule by provided action schedule","operationId":"createActionScheduleUsingPOST","parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"in":"body","name":"actionSchedule","description":"Action schedule object.","required":true,"schema":{"$ref":"#/definitions/action-schedule"},"x-examples":{"application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:action-schedule xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:name>Downsize schedule</ops:name>\n    <ops:description>Action schedule to delete old snapshot</ops:description>\n    <ops:scheduleOperation>DELETE_OLD_SNAPSHOT</ops:scheduleOperation>\n    <ops:scheduleOperationParams xsi:type=\"ops:snapshotReclaimParams\">\n        <ops:reclaimAfter>2</ops:reclaimAfter>\n        <ops:sizeLimitCondition>\n            <ops:operator>EQUALS</ops:operator>\n            <ops:value>3.0</ops:value>\n        </ops:sizeLimitCondition>\n        <ops:nameCondition>\n            <ops:operator>CONTAINS</ops:operator>\n            <ops:value>Test</ops:value>\n        </ops:nameCondition>\n    </ops:scheduleOperationParams>\n    <ops:actionScope>\n        <ops:resourceIds>\n            <ops:resourceId>e6cdf087-5f04-43af-b8d6-dcc937ff47e1</ops:resourceId>\n            <ops:resourceId>ffaf64a5-0441-47e7-87a4-4e1ac76bde6c</ops:resourceId>\n            <ops:resourceId>d0c40ae5-6107-4f80-b83f-0e3f7a3fa6e6</ops:resourceId>\n        </ops:resourceIds>\n        <ops:filters>\n            <ops:scopeFilters>\n                <ops:scopeFilter xsi:type=\"ops:metric-filter\">\n                    <ops:key>summary|total_memory_usage</ops:key>\n                    <ops:numericOperator>LESS_THAN</ops:numericOperator>\n                    <ops:numericValue>25.5</ops:numericValue>\n                </ops:scopeFilter>\n            </ops:scopeFilters>\n        </ops:filters>\n    </ops:actionScope>\n    <ops:scheduleSettings>\n        <ops:timeZone>Asia/Seoul</ops:timeZone>\n        <ops:startDate>2021-06-15</ops:startDate>\n        <ops:startTime>08:00</ops:startTime>\n        <ops:scheduleType xsi:type=\"ops:daily-schedule\">\n            <ops:recurrenceDayCount>5</ops:recurrenceDayCount>\n        </ops:scheduleType>\n        <ops:expirationDate>2021-06-25</ops:expirationDate>\n        <ops:pluginConfig xsi:type=\"ops:email-plugin-config\">\n            <ops:id>pluginId</ops:id>\n            <ops:receiverEmail>example_user@gmail.com</ops:receiverEmail>\n        </ops:pluginConfig>\n    </ops:scheduleSettings>\n</ops:action-schedule>\n","application/json":"{\n  \"name\" : \"Downsize schedule\",\n  \"description\" : \"Action schedule to delete old snapshot\",\n  \"scheduleOperation\" : \"DELETE_OLD_SNAPSHOT\",\n  \"scheduleOperationParams\" : {\n    \"type\" : \"SNAPSHOT_RECLAIM_PARAMS\",\n    \"sizeLimitCondition\" : {\n      \"type\" : \"NUMERIC_SCHEDULE_CONDITION\",\n      \"operator\" : \"EQUALS\",\n      \"value\" : 3.0\n    },\n    \"nameCondition\" : {\n      \"type\" : \"STRING_SCHEDULE_CONDITION\",\n      \"operator\" : \"CONTAINS\",\n      \"value\" : \"Test\"\n    },\n    \"reclaimAfter\" : 2\n  },\n  \"actionScope\" : {\n    \"resourceIds\" : [ \"e6cdf087-5f04-43af-b8d6-dcc937ff47e1\", \"ffaf64a5-0441-47e7-87a4-4e1ac76bde6c\", \"d0c40ae5-6107-4f80-b83f-0e3f7a3fa6e6\" ],\n    \"filters\" : [ {\n      \"scopeFilters\" : [ {\n        \"type\" : \"metric-filter\",\n        \"key\" : \"summary|total_memory_usage\",\n        \"numericOperator\" : \"LESS_THAN\",\n        \"numericValue\" : 25.5\n      } ]\n    } ]\n  },\n  \"scheduleSettings\" : {\n    \"timeZone\" : \"Asia/Seoul\",\n    \"startDate\" : \"2021-06-15\",\n    \"startTime\" : \"08:00\",\n    \"scheduleType\" : {\n      \"type\" : \"daily-schedule\",\n      \"recurrenceDayCount\" : 5\n    },\n    \"expirationDate\" : \"2021-06-25\",\n    \"pluginConfig\" : {\n      \"type\" : \"email-plugin-config\",\n      \"id\" : \"pluginId\",\n      \"receiverEmail\" : \"example_user@gmail.com\"\n    }\n  }\n}"}}],"responses":{"201":{"description":"Created action schedule","examples":{"application/json":"{\n  \"id\" : \"178cd9b5-0966-47e6-8a7c-f9770af5b47c\",\n  \"name\" : \"Downsize schedule\",\n  \"description\" : \"Action schedule to delete old snapshot\",\n  \"scheduleOperation\" : \"DELETE_OLD_SNAPSHOT\",\n  \"scheduleOperationParams\" : {\n    \"type\" : \"SNAPSHOT_RECLAIM_PARAMS\",\n    \"sizeLimitCondition\" : {\n      \"type\" : \"NUMERIC_SCHEDULE_CONDITION\",\n      \"operator\" : \"EQUALS\",\n      \"value\" : 3.0\n    },\n    \"nameCondition\" : {\n      \"type\" : \"STRING_SCHEDULE_CONDITION\",\n      \"operator\" : \"CONTAINS\",\n      \"value\" : \"Test\"\n    },\n    \"reclaimAfter\" : 2\n  },\n  \"actionScope\" : {\n    \"resourceIds\" : [ \"e6cdf087-5f04-43af-b8d6-dcc937ff47e1\", \"ffaf64a5-0441-47e7-87a4-4e1ac76bde6c\", \"d0c40ae5-6107-4f80-b83f-0e3f7a3fa6e6\" ],\n    \"filters\" : [ {\n      \"scopeFilters\" : [ {\n        \"type\" : \"metric-filter\",\n        \"key\" : \"summary|total_memory_usage\",\n        \"numericOperator\" : \"LESS_THAN\",\n        \"numericValue\" : 25.5\n      } ]\n    } ]\n  },\n  \"scheduleSettings\" : {\n    \"timeZone\" : \"Asia/Seoul\",\n    \"startDate\" : \"2021-06-15\",\n    \"startTime\" : \"08:00\",\n    \"scheduleType\" : {\n      \"type\" : \"daily-schedule\",\n      \"recurrenceDayCount\" : 5\n    },\n    \"expirationDate\" : \"2021-06-25\",\n    \"pluginConfig\" : {\n      \"type\" : \"email-plugin-config\",\n      \"id\" : \"pluginId\",\n      \"receiverEmail\" : \"example_user@gmail.com\"\n    }\n  },\n  \"modifiedByUser\" : \"admin\",\n  \"modificationTime\" : \"2021-06-17T10:15:30\",\n  \"lastRunStartTime\" : \"2021-06-18T08:00\",\n  \"nextRunStartTime\" : \"2021-06-19T08:00\"\n}","application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:action-schedule id=\"51880a8a-c6a9-4f3e-a337-4cbc15b3c75b\" xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:name>Downsize schedule</ops:name>\n    <ops:description>Action schedule to delete old snapshot</ops:description>\n    <ops:scheduleOperation>DELETE_OLD_SNAPSHOT</ops:scheduleOperation>\n    <ops:scheduleOperationParams xsi:type=\"ops:snapshotReclaimParams\">\n        <ops:reclaimAfter>2</ops:reclaimAfter>\n        <ops:sizeLimitCondition>\n            <ops:operator>EQUALS</ops:operator>\n            <ops:value>3.0</ops:value>\n        </ops:sizeLimitCondition>\n        <ops:nameCondition>\n            <ops:operator>CONTAINS</ops:operator>\n            <ops:value>Test</ops:value>\n        </ops:nameCondition>\n    </ops:scheduleOperationParams>\n    <ops:actionScope>\n        <ops:resourceIds>\n            <ops:resourceId>e6cdf087-5f04-43af-b8d6-dcc937ff47e1</ops:resourceId>\n            <ops:resourceId>ffaf64a5-0441-47e7-87a4-4e1ac76bde6c</ops:resourceId>\n            <ops:resourceId>d0c40ae5-6107-4f80-b83f-0e3f7a3fa6e6</ops:resourceId>\n        </ops:resourceIds>\n        <ops:filters>\n            <ops:scopeFilters>\n                <ops:scopeFilter xsi:type=\"ops:metric-filter\">\n                    <ops:key>summary|total_memory_usage</ops:key>\n                    <ops:numericOperator>LESS_THAN</ops:numericOperator>\n                    <ops:numericValue>25.5</ops:numericValue>\n                </ops:scopeFilter>\n            </ops:scopeFilters>\n        </ops:filters>\n    </ops:actionScope>\n    <ops:scheduleSettings>\n        <ops:timeZone>Asia/Seoul</ops:timeZone>\n        <ops:startDate>2021-06-15</ops:startDate>\n        <ops:startTime>08:00</ops:startTime>\n        <ops:scheduleType xsi:type=\"ops:daily-schedule\">\n            <ops:recurrenceDayCount>5</ops:recurrenceDayCount>\n        </ops:scheduleType>\n        <ops:expirationDate>2021-06-25</ops:expirationDate>\n        <ops:pluginConfig xsi:type=\"ops:email-plugin-config\">\n            <ops:id>pluginId</ops:id>\n            <ops:receiverEmail>example_user@gmail.com</ops:receiverEmail>\n        </ops:pluginConfig>\n    </ops:scheduleSettings>\n    <ops:modifiedByUser>admin</ops:modifiedByUser>\n    <ops:modificationTime>2021-06-17T10:15:30</ops:modificationTime>\n    <ops:lastRunStartTime>2021-06-18T08:00</ops:lastRunStartTime>\n    <ops:nextRunStartTime>2021-06-19T08:00</ops:nextRunStartTime>\n</ops:action-schedule>\n"},"schema":{"$ref":"#/definitions/action-schedule"}}},"security":[{"OpsToken":[]}],"deprecated":true},"put":{"tags":["Actions"],"summary":"Update action schedule by provided action schedule","operationId":"updateActionScheduleUsingPUT","parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"in":"body","name":"actionSchedule","description":"Action schedule object.","required":true,"schema":{"$ref":"#/definitions/action-schedule"},"x-examples":{"application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:action-schedule id=\"1c46dbb3-5d3a-4e41-801d-4c7b0e3711cd\" xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:name>Downsize schedule</ops:name>\n    <ops:description>Action schedule to delete old snapshot</ops:description>\n    <ops:scheduleOperationParams xsi:type=\"ops:snapshotReclaimParams\">\n        <ops:reclaimAfter>2</ops:reclaimAfter>\n        <ops:sizeLimitCondition>\n            <ops:operator>EQUALS</ops:operator>\n            <ops:value>3.0</ops:value>\n        </ops:sizeLimitCondition>\n        <ops:nameCondition>\n            <ops:operator>CONTAINS</ops:operator>\n            <ops:value>Test</ops:value>\n        </ops:nameCondition>\n    </ops:scheduleOperationParams>\n    <ops:actionScope>\n        <ops:resourceIds>\n            <ops:resourceId>e6cdf087-5f04-43af-b8d6-dcc937ff47e1</ops:resourceId>\n            <ops:resourceId>ffaf64a5-0441-47e7-87a4-4e1ac76bde6c</ops:resourceId>\n            <ops:resourceId>d0c40ae5-6107-4f80-b83f-0e3f7a3fa6e6</ops:resourceId>\n        </ops:resourceIds>\n        <ops:filters>\n            <ops:scopeFilters>\n                <ops:scopeFilter xsi:type=\"ops:metric-filter\">\n                    <ops:key>summary|total_memory_usage</ops:key>\n                    <ops:numericOperator>LESS_THAN</ops:numericOperator>\n                    <ops:numericValue>25.5</ops:numericValue>\n                </ops:scopeFilter>\n            </ops:scopeFilters>\n        </ops:filters>\n    </ops:actionScope>\n    <ops:scheduleSettings>\n        <ops:timeZone>Asia/Seoul</ops:timeZone>\n        <ops:startDate>2021-06-15</ops:startDate>\n        <ops:startTime>08:00</ops:startTime>\n        <ops:scheduleType xsi:type=\"ops:daily-schedule\">\n            <ops:recurrenceDayCount>5</ops:recurrenceDayCount>\n        </ops:scheduleType>\n        <ops:expirationDate>2021-06-25</ops:expirationDate>\n        <ops:pluginConfig xsi:type=\"ops:email-plugin-config\">\n            <ops:id>pluginId</ops:id>\n            <ops:receiverEmail>example_user@gmail.com</ops:receiverEmail>\n        </ops:pluginConfig>\n    </ops:scheduleSettings>\n</ops:action-schedule>\n","application/json":"{\n  \"id\" : \"3d39933f-58dd-4d4f-be00-4af7c552bfd4\",\n  \"name\" : \"Downsize schedule\",\n  \"description\" : \"Action schedule to delete old snapshot\",\n  \"scheduleOperationParams\" : {\n    \"type\" : \"SNAPSHOT_RECLAIM_PARAMS\",\n    \"sizeLimitCondition\" : {\n      \"type\" : \"NUMERIC_SCHEDULE_CONDITION\",\n      \"operator\" : \"EQUALS\",\n      \"value\" : 3.0\n    },\n    \"nameCondition\" : {\n      \"type\" : \"STRING_SCHEDULE_CONDITION\",\n      \"operator\" : \"CONTAINS\",\n      \"value\" : \"Test\"\n    },\n    \"reclaimAfter\" : 2\n  },\n  \"actionScope\" : {\n    \"resourceIds\" : [ \"e6cdf087-5f04-43af-b8d6-dcc937ff47e1\", \"ffaf64a5-0441-47e7-87a4-4e1ac76bde6c\", \"d0c40ae5-6107-4f80-b83f-0e3f7a3fa6e6\" ],\n    \"filters\" : [ {\n      \"scopeFilters\" : [ {\n        \"type\" : \"metric-filter\",\n        \"key\" : \"summary|total_memory_usage\",\n        \"numericOperator\" : \"LESS_THAN\",\n        \"numericValue\" : 25.5\n      } ]\n    } ]\n  },\n  \"scheduleSettings\" : {\n    \"timeZone\" : \"Asia/Seoul\",\n    \"startDate\" : \"2021-06-15\",\n    \"startTime\" : \"08:00\",\n    \"scheduleType\" : {\n      \"type\" : \"daily-schedule\",\n      \"recurrenceDayCount\" : 5\n    },\n    \"expirationDate\" : \"2021-06-25\",\n    \"pluginConfig\" : {\n      \"type\" : \"email-plugin-config\",\n      \"id\" : \"pluginId\",\n      \"receiverEmail\" : \"example_user@gmail.com\"\n    }\n  }\n}"}}],"responses":{"200":{"description":"Updated action schedule","examples":{"application/json":"{\n  \"id\" : \"78c14d63-0a16-4ef7-994e-6c1105bc188a\",\n  \"name\" : \"Downsize schedule\",\n  \"description\" : \"Action schedule to delete old snapshot\",\n  \"scheduleOperation\" : \"DELETE_OLD_SNAPSHOT\",\n  \"scheduleOperationParams\" : {\n    \"type\" : \"SNAPSHOT_RECLAIM_PARAMS\",\n    \"sizeLimitCondition\" : {\n      \"type\" : \"NUMERIC_SCHEDULE_CONDITION\",\n      \"operator\" : \"EQUALS\",\n      \"value\" : 3.0\n    },\n    \"nameCondition\" : {\n      \"type\" : \"STRING_SCHEDULE_CONDITION\",\n      \"operator\" : \"CONTAINS\",\n      \"value\" : \"Test\"\n    },\n    \"reclaimAfter\" : 2\n  },\n  \"actionScope\" : {\n    \"resourceIds\" : [ \"e6cdf087-5f04-43af-b8d6-dcc937ff47e1\", \"ffaf64a5-0441-47e7-87a4-4e1ac76bde6c\", \"d0c40ae5-6107-4f80-b83f-0e3f7a3fa6e6\" ],\n    \"filters\" : [ {\n      \"scopeFilters\" : [ {\n        \"type\" : \"metric-filter\",\n        \"key\" : \"summary|total_memory_usage\",\n        \"numericOperator\" : \"LESS_THAN\",\n        \"numericValue\" : 25.5\n      } ]\n    } ]\n  },\n  \"scheduleSettings\" : {\n    \"timeZone\" : \"Asia/Seoul\",\n    \"startDate\" : \"2021-06-15\",\n    \"startTime\" : \"08:00\",\n    \"scheduleType\" : {\n      \"type\" : \"daily-schedule\",\n      \"recurrenceDayCount\" : 5\n    },\n    \"expirationDate\" : \"2021-06-25\",\n    \"pluginConfig\" : {\n      \"type\" : \"email-plugin-config\",\n      \"id\" : \"pluginId\",\n      \"receiverEmail\" : \"example_user@gmail.com\"\n    }\n  },\n  \"modifiedByUser\" : \"admin\",\n  \"modificationTime\" : \"2021-06-17T10:15:30\",\n  \"lastRunStartTime\" : \"2021-06-18T08:00\",\n  \"nextRunStartTime\" : \"2021-06-19T08:00\"\n}","application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:action-schedule id=\"e1e9a604-1044-4c88-9ed3-eee6725c5c83\" xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:name>Downsize schedule</ops:name>\n    <ops:description>Action schedule to delete old snapshot</ops:description>\n    <ops:scheduleOperation>DELETE_OLD_SNAPSHOT</ops:scheduleOperation>\n    <ops:scheduleOperationParams xsi:type=\"ops:snapshotReclaimParams\">\n        <ops:reclaimAfter>2</ops:reclaimAfter>\n        <ops:sizeLimitCondition>\n            <ops:operator>EQUALS</ops:operator>\n            <ops:value>3.0</ops:value>\n        </ops:sizeLimitCondition>\n        <ops:nameCondition>\n            <ops:operator>CONTAINS</ops:operator>\n            <ops:value>Test</ops:value>\n        </ops:nameCondition>\n    </ops:scheduleOperationParams>\n    <ops:actionScope>\n        <ops:resourceIds>\n            <ops:resourceId>e6cdf087-5f04-43af-b8d6-dcc937ff47e1</ops:resourceId>\n            <ops:resourceId>ffaf64a5-0441-47e7-87a4-4e1ac76bde6c</ops:resourceId>\n            <ops:resourceId>d0c40ae5-6107-4f80-b83f-0e3f7a3fa6e6</ops:resourceId>\n        </ops:resourceIds>\n        <ops:filters>\n            <ops:scopeFilters>\n                <ops:scopeFilter xsi:type=\"ops:metric-filter\">\n                    <ops:key>summary|total_memory_usage</ops:key>\n                    <ops:numericOperator>LESS_THAN</ops:numericOperator>\n                    <ops:numericValue>25.5</ops:numericValue>\n                </ops:scopeFilter>\n            </ops:scopeFilters>\n        </ops:filters>\n    </ops:actionScope>\n    <ops:scheduleSettings>\n        <ops:timeZone>Asia/Seoul</ops:timeZone>\n        <ops:startDate>2021-06-15</ops:startDate>\n        <ops:startTime>08:00</ops:startTime>\n        <ops:scheduleType xsi:type=\"ops:daily-schedule\">\n            <ops:recurrenceDayCount>5</ops:recurrenceDayCount>\n        </ops:scheduleType>\n        <ops:expirationDate>2021-06-25</ops:expirationDate>\n        <ops:pluginConfig xsi:type=\"ops:email-plugin-config\">\n            <ops:id>pluginId</ops:id>\n            <ops:receiverEmail>example_user@gmail.com</ops:receiverEmail>\n        </ops:pluginConfig>\n    </ops:scheduleSettings>\n    <ops:modifiedByUser>admin</ops:modifiedByUser>\n    <ops:modificationTime>2021-06-17T10:15:30</ops:modificationTime>\n    <ops:lastRunStartTime>2021-06-18T08:00</ops:lastRunStartTime>\n    <ops:nextRunStartTime>2021-06-19T08:00</ops:nextRunStartTime>\n</ops:action-schedule>\n"},"schema":{"$ref":"#/definitions/action-schedule"}}},"security":[{"OpsToken":[]}],"deprecated":true}},"/internal/actions/schedules/query":{"post":{"tags":["Actions"],"summary":"Get schedules by applying specific filters","operationId":"getFilteredActionSchedulesUsingPOST","parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"in":"body","name":"filters","description":"Schedule filter object.","required":false,"schema":{"$ref":"#/definitions/schedule-filters"},"x-examples":{"application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:schedule-filters xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:filters>\n        <ops:filter>ACTION</ops:filter>\n        <ops:value>DOWNSIZE_VM</ops:value>\n    </ops:filters>\n    <ops:filters>\n        <ops:filter>STATUS</ops:filter>\n        <ops:value>ENABLED</ops:value>\n    </ops:filters>\n    <ops:filters>\n        <ops:filter>NAME</ops:filter>\n        <ops:value>Downsize schedule</ops:value>\n    </ops:filters>\n    <ops:filters>\n        <ops:filter>MODIFIED_BY</ops:filter>\n        <ops:value>admin</ops:value>\n    </ops:filters>\n</ops:schedule-filters>\n","application/json":"{\n  \"filters\" : [ {\n    \"filter\" : \"ACTION\",\n    \"value\" : \"DOWNSIZE_VM\"\n  }, {\n    \"filter\" : \"STATUS\",\n    \"value\" : \"ENABLED\"\n  }, {\n    \"filter\" : \"NAME\",\n    \"value\" : \"Downsize schedule\"\n  }, {\n    \"filter\" : \"MODIFIED_BY\",\n    \"value\" : \"admin\"\n  } ]\n}"}}],"responses":{"200":{"description":"Action schedules","examples":{"application/json":"{\n  \"actionSchedules\" : [ {\n    \"id\" : \"5f47af63-197f-4c58-9f1b-40d91b6b2902\",\n    \"name\" : \"Reboot schedule\",\n    \"description\" : \"Action schedule to reboot VMs\",\n    \"scheduleOperation\" : \"REBOOT_VM\",\n    \"actionScope\" : {\n      \"virtualMachineIds\" : [ \"501dcd82-2d38-4896-b025-4beb1020dd0f\", \"0151d3e9-ffc2-4117-95cf-b200c1bb4b6e\" ]\n    },\n    \"scheduleSettings\" : {\n      \"timeZone\" : \"Asia/Seoul\",\n      \"startDate\" : \"2021-06-16\",\n      \"startTime\" : \"12:30\",\n      \"scheduleType\" : {\n        \"type\" : \"weekly-schedule\",\n        \"recurrenceWeekCount\" : 15,\n        \"weekDays\" : [ 1, 3, 5 ]\n      },\n      \"expirationDate\" : \"2021-06-26\",\n      \"pluginConfig\" : {\n        \"type\" : \"email-plugin-config\",\n        \"id\" : \"pluginId\",\n        \"receiverEmail\" : \"example_user@gmail.com\"\n      }\n    },\n    \"modifiedByUser\" : \"admin\",\n    \"modificationTime\" : \"2021-06-20T11:27:35\",\n    \"lastRunStartTime\" : \"2021-06-20T12:30\",\n    \"nextRunStartTime\" : \"2021-06-21T12:30\"\n  }, {\n    \"id\" : \"0828f7bb-e8d5-4e38-ad5f-2b255da726e8\",\n    \"name\" : \"Downsize schedule\",\n    \"description\" : \"Action schedule to delete old snapshot\",\n    \"scheduleOperation\" : \"DELETE_OLD_SNAPSHOT\",\n    \"scheduleOperationParams\" : {\n      \"type\" : \"SNAPSHOT_RECLAIM_PARAMS\",\n      \"sizeLimitCondition\" : {\n        \"type\" : \"NUMERIC_SCHEDULE_CONDITION\",\n        \"operator\" : \"EQUALS\",\n        \"value\" : 3.0\n      },\n      \"nameCondition\" : {\n        \"type\" : \"STRING_SCHEDULE_CONDITION\",\n        \"operator\" : \"CONTAINS\",\n        \"value\" : \"Test\"\n      },\n      \"reclaimAfter\" : 2\n    },\n    \"actionScope\" : {\n      \"resourceIds\" : [ \"e6cdf087-5f04-43af-b8d6-dcc937ff47e1\", \"ffaf64a5-0441-47e7-87a4-4e1ac76bde6c\", \"d0c40ae5-6107-4f80-b83f-0e3f7a3fa6e6\" ],\n      \"filters\" : [ {\n        \"scopeFilters\" : [ {\n          \"type\" : \"metric-filter\",\n          \"key\" : \"summary|total_memory_usage\",\n          \"numericOperator\" : \"LESS_THAN\",\n          \"numericValue\" : 25.5\n        } ]\n      } ]\n    },\n    \"scheduleSettings\" : {\n      \"timeZone\" : \"Asia/Seoul\",\n      \"startDate\" : \"2021-06-15\",\n      \"startTime\" : \"08:00\",\n      \"scheduleType\" : {\n        \"type\" : \"daily-schedule\",\n        \"recurrenceDayCount\" : 5\n      },\n      \"expirationDate\" : \"2021-06-25\",\n      \"pluginConfig\" : {\n        \"type\" : \"email-plugin-config\",\n        \"id\" : \"pluginId\",\n        \"receiverEmail\" : \"example_user@gmail.com\"\n      }\n    },\n    \"modifiedByUser\" : \"admin\",\n    \"modificationTime\" : \"2021-06-17T10:15:30\",\n    \"lastRunStartTime\" : \"2021-06-18T08:00\",\n    \"nextRunStartTime\" : \"2021-06-19T08:00\"\n  } ]\n}","application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:action-schedules xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:action-schedule id=\"c1b87fcc-f624-48b0-89b0-fc4a94da29e1\">\n        <ops:name>Reboot schedule</ops:name>\n        <ops:description>Action schedule to reboot VMs</ops:description>\n        <ops:scheduleOperation>REBOOT_VM</ops:scheduleOperation>\n        <ops:actionScope>\n            <ops:resourceIds/>\n            <ops:virtualMachineIds>501dcd82-2d38-4896-b025-4beb1020dd0f</ops:virtualMachineIds>\n            <ops:virtualMachineIds>0151d3e9-ffc2-4117-95cf-b200c1bb4b6e</ops:virtualMachineIds>\n        </ops:actionScope>\n        <ops:scheduleSettings>\n            <ops:timeZone>Asia/Seoul</ops:timeZone>\n            <ops:startDate>2021-06-16</ops:startDate>\n            <ops:startTime>12:30</ops:startTime>\n            <ops:scheduleType xsi:type=\"ops:weekly-schedule\">\n                <ops:recurrenceWeekCount>15</ops:recurrenceWeekCount>\n                <ops:weekDays>1 3 5</ops:weekDays>\n            </ops:scheduleType>\n            <ops:expirationDate>2021-06-26</ops:expirationDate>\n            <ops:pluginConfig xsi:type=\"ops:email-plugin-config\">\n                <ops:id>pluginId</ops:id>\n                <ops:receiverEmail>example_user@gmail.com</ops:receiverEmail>\n            </ops:pluginConfig>\n        </ops:scheduleSettings>\n        <ops:modifiedByUser>admin</ops:modifiedByUser>\n        <ops:modificationTime>2021-06-20T11:27:35</ops:modificationTime>\n        <ops:lastRunStartTime>2021-06-20T12:30</ops:lastRunStartTime>\n        <ops:nextRunStartTime>2021-06-21T12:30</ops:nextRunStartTime>\n    </ops:action-schedule>\n    <ops:action-schedule id=\"8783f77f-de33-46fc-8bd3-883bdfa31366\">\n        <ops:name>Downsize schedule</ops:name>\n        <ops:description>Action schedule to delete old snapshot</ops:description>\n        <ops:scheduleOperation>DELETE_OLD_SNAPSHOT</ops:scheduleOperation>\n        <ops:scheduleOperationParams xsi:type=\"ops:snapshotReclaimParams\">\n            <ops:reclaimAfter>2</ops:reclaimAfter>\n            <ops:sizeLimitCondition>\n                <ops:operator>EQUALS</ops:operator>\n                <ops:value>3.0</ops:value>\n            </ops:sizeLimitCondition>\n            <ops:nameCondition>\n                <ops:operator>CONTAINS</ops:operator>\n                <ops:value>Test</ops:value>\n            </ops:nameCondition>\n        </ops:scheduleOperationParams>\n        <ops:actionScope>\n            <ops:resourceIds>\n                <ops:resourceId>e6cdf087-5f04-43af-b8d6-dcc937ff47e1</ops:resourceId>\n                <ops:resourceId>ffaf64a5-0441-47e7-87a4-4e1ac76bde6c</ops:resourceId>\n                <ops:resourceId>d0c40ae5-6107-4f80-b83f-0e3f7a3fa6e6</ops:resourceId>\n            </ops:resourceIds>\n            <ops:filters>\n                <ops:scopeFilters>\n                    <ops:scopeFilter xsi:type=\"ops:metric-filter\">\n                        <ops:key>summary|total_memory_usage</ops:key>\n                        <ops:numericOperator>LESS_THAN</ops:numericOperator>\n                        <ops:numericValue>25.5</ops:numericValue>\n                    </ops:scopeFilter>\n                </ops:scopeFilters>\n            </ops:filters>\n        </ops:actionScope>\n        <ops:scheduleSettings>\n            <ops:timeZone>Asia/Seoul</ops:timeZone>\n            <ops:startDate>2021-06-15</ops:startDate>\n            <ops:startTime>08:00</ops:startTime>\n            <ops:scheduleType xsi:type=\"ops:daily-schedule\">\n                <ops:recurrenceDayCount>5</ops:recurrenceDayCount>\n            </ops:scheduleType>\n            <ops:expirationDate>2021-06-25</ops:expirationDate>\n            <ops:pluginConfig xsi:type=\"ops:email-plugin-config\">\n                <ops:id>pluginId</ops:id>\n                <ops:receiverEmail>example_user@gmail.com</ops:receiverEmail>\n            </ops:pluginConfig>\n        </ops:scheduleSettings>\n        <ops:modifiedByUser>admin</ops:modifiedByUser>\n        <ops:modificationTime>2021-06-17T10:15:30</ops:modificationTime>\n        <ops:lastRunStartTime>2021-06-18T08:00</ops:lastRunStartTime>\n        <ops:nextRunStartTime>2021-06-19T08:00</ops:nextRunStartTime>\n    </ops:action-schedule>\n</ops:action-schedules>\n"},"schema":{"$ref":"#/definitions/action-schedules"}}},"security":[{"OpsToken":[]}],"deprecated":true}},"/internal/actions/schedules/{id}":{"get":{"tags":["Actions"],"summary":"Get action schedule by provided schedule id","operationId":"getActionScheduleUsingGET","parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"Action schedule","examples":{"application/json":"{\n  \"id\" : \"233df95e-4232-41c5-8233-ae6eb1171d69\",\n  \"name\" : \"Downsize schedule\",\n  \"description\" : \"Action schedule to delete old snapshot\",\n  \"scheduleOperation\" : \"DELETE_OLD_SNAPSHOT\",\n  \"scheduleOperationParams\" : {\n    \"type\" : \"SNAPSHOT_RECLAIM_PARAMS\",\n    \"sizeLimitCondition\" : {\n      \"type\" : \"NUMERIC_SCHEDULE_CONDITION\",\n      \"operator\" : \"EQUALS\",\n      \"value\" : 3.0\n    },\n    \"nameCondition\" : {\n      \"type\" : \"STRING_SCHEDULE_CONDITION\",\n      \"operator\" : \"CONTAINS\",\n      \"value\" : \"Test\"\n    },\n    \"reclaimAfter\" : 2\n  },\n  \"actionScope\" : {\n    \"resourceIds\" : [ \"e6cdf087-5f04-43af-b8d6-dcc937ff47e1\", \"ffaf64a5-0441-47e7-87a4-4e1ac76bde6c\", \"d0c40ae5-6107-4f80-b83f-0e3f7a3fa6e6\" ],\n    \"filters\" : [ {\n      \"scopeFilters\" : [ {\n        \"type\" : \"metric-filter\",\n        \"key\" : \"summary|total_memory_usage\",\n        \"numericOperator\" : \"LESS_THAN\",\n        \"numericValue\" : 25.5\n      } ]\n    } ]\n  },\n  \"scheduleSettings\" : {\n    \"timeZone\" : \"Asia/Seoul\",\n    \"startDate\" : \"2021-06-15\",\n    \"startTime\" : \"08:00\",\n    \"scheduleType\" : {\n      \"type\" : \"daily-schedule\",\n      \"recurrenceDayCount\" : 5\n    },\n    \"expirationDate\" : \"2021-06-25\",\n    \"pluginConfig\" : {\n      \"type\" : \"email-plugin-config\",\n      \"id\" : \"pluginId\",\n      \"receiverEmail\" : \"example_user@gmail.com\"\n    }\n  },\n  \"modifiedByUser\" : \"admin\",\n  \"modificationTime\" : \"2021-06-17T10:15:30\",\n  \"lastRunStartTime\" : \"2021-06-18T08:00\",\n  \"nextRunStartTime\" : \"2021-06-19T08:00\"\n}","application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:action-schedule id=\"c84b4e1a-af20-466d-b5b6-75573d80d411\" xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:name>Downsize schedule</ops:name>\n    <ops:description>Action schedule to delete old snapshot</ops:description>\n    <ops:scheduleOperation>DELETE_OLD_SNAPSHOT</ops:scheduleOperation>\n    <ops:scheduleOperationParams xsi:type=\"ops:snapshotReclaimParams\">\n        <ops:reclaimAfter>2</ops:reclaimAfter>\n        <ops:sizeLimitCondition>\n            <ops:operator>EQUALS</ops:operator>\n            <ops:value>3.0</ops:value>\n        </ops:sizeLimitCondition>\n        <ops:nameCondition>\n            <ops:operator>CONTAINS</ops:operator>\n            <ops:value>Test</ops:value>\n        </ops:nameCondition>\n    </ops:scheduleOperationParams>\n    <ops:actionScope>\n        <ops:resourceIds>\n            <ops:resourceId>e6cdf087-5f04-43af-b8d6-dcc937ff47e1</ops:resourceId>\n            <ops:resourceId>ffaf64a5-0441-47e7-87a4-4e1ac76bde6c</ops:resourceId>\n            <ops:resourceId>d0c40ae5-6107-4f80-b83f-0e3f7a3fa6e6</ops:resourceId>\n        </ops:resourceIds>\n        <ops:filters>\n            <ops:scopeFilters>\n                <ops:scopeFilter xsi:type=\"ops:metric-filter\">\n                    <ops:key>summary|total_memory_usage</ops:key>\n                    <ops:numericOperator>LESS_THAN</ops:numericOperator>\n                    <ops:numericValue>25.5</ops:numericValue>\n                </ops:scopeFilter>\n            </ops:scopeFilters>\n        </ops:filters>\n    </ops:actionScope>\n    <ops:scheduleSettings>\n        <ops:timeZone>Asia/Seoul</ops:timeZone>\n        <ops:startDate>2021-06-15</ops:startDate>\n        <ops:startTime>08:00</ops:startTime>\n        <ops:scheduleType xsi:type=\"ops:daily-schedule\">\n            <ops:recurrenceDayCount>5</ops:recurrenceDayCount>\n        </ops:scheduleType>\n        <ops:expirationDate>2021-06-25</ops:expirationDate>\n        <ops:pluginConfig xsi:type=\"ops:email-plugin-config\">\n            <ops:id>pluginId</ops:id>\n            <ops:receiverEmail>example_user@gmail.com</ops:receiverEmail>\n        </ops:pluginConfig>\n    </ops:scheduleSettings>\n    <ops:modifiedByUser>admin</ops:modifiedByUser>\n    <ops:modificationTime>2021-06-17T10:15:30</ops:modificationTime>\n    <ops:lastRunStartTime>2021-06-18T08:00</ops:lastRunStartTime>\n    <ops:nextRunStartTime>2021-06-19T08:00</ops:nextRunStartTime>\n</ops:action-schedule>\n"},"schema":{"$ref":"#/definitions/action-schedule"}}},"security":[{"OpsToken":[]}],"deprecated":true},"delete":{"tags":["Actions"],"summary":"Delete action schedule by id","description":"Prior to calling this API, /internal/actions/schedules may be called to get all the schedules and decide which one to delete","operationId":"deleteActionScheduleUsingDELETE","produces":["*/*"],"parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"}},"security":[{"OpsToken":[]}],"deprecated":true}},"/internal/actions/schedules/{id}/disable":{"put":{"tags":["Actions"],"summary":"Disable action schedule by id","description":"Prior to calling this API, /internal/actions/schedules may be called to get all the schedules and decide which one to disable","operationId":"disableActionScheduleUsingPUT","produces":["*/*"],"parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"}},"security":[{"OpsToken":[]}],"deprecated":true}},"/internal/actions/schedules/{id}/enable":{"put":{"tags":["Actions"],"summary":"Enable action schedule by id","description":"Prior to calling this API, /internal/actions/schedules may be called to get all the schedules and decide which one to enable","operationId":"enableActionScheduleUsingPUT","produces":["*/*"],"parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"}},"security":[{"OpsToken":[]}],"deprecated":true}},"/internal/adapterkinds/describe":{"post":{"tags":["Internal Adapter Kinds"],"summary":"Update the describe document and trigger a Describe operation","description":"This API can be used to upload a <i>describe.xml</i> only as a String. The describe.xml data needs to correspond to an adapter kind of <b><i>OPENAPI</i></b> type. Using this API, one can bring in new adapter kind into the system or update(upgrade) the metadata of an existing adapter kind. An empty request body (describeXml) will request a re-describe on all installed adapters. ","operationId":"updateDescribeXmlUsingPOST","parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"in":"body","name":"describeXml","description":"The describe XML as a string","required":false,"schema":{"type":"string"},"x-examples":{"application/xml":"No Custom Example is Available","application/json":"No Custom Example is Available"}},{"name":"forceDescribe","in":"query","description":"Forces the describe to occur (ignores version check)","required":true,"type":"boolean","default":false,"allowEmptyValue":false,"x-example":false}],"responses":{"202":{"description":"An object to monitor progress of the Describe operation","examples":{"application/json":"No Custom Example is Available","application/xml":"No Custom Example is Available"},"schema":{"$ref":"#/definitions/task-status"}}},"security":[{"OpsToken":[]}],"deprecated":false}},"/internal/adapterkinds/describeupload":{"post":{"tags":["Internal Adapter Kinds"],"summary":"Update the describe document via file upload and trigger a Describe operation","description":"This API can be used to upload a <i>describe.xml</i> only. The describe.xml data needs to correspond to an adapter kind of <b><i>OPENAPI</i></b> type. Using this API, one can bring in new adapter kind into the system or update(upgrade) the metadata of an existing adapter kind. An empty/blank file (describeFile), will request a re-describe on all installed adapters. ","operationId":"uploadDescribeDocumentUsingPOST","parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"name":"describeFile","in":"formData","description":"The describe document file that was uploaded","required":true,"type":"file"},{"name":"forceDescribe","in":"query","description":"Forces the describe to occur (ignores document version check)","required":true,"type":"boolean","default":false,"allowEmptyValue":false,"x-example":false}],"responses":{"202":{"description":"An object to monitor progress of Describe","examples":{"application/json":"No Custom Example is Available","application/xml":"No Custom Example is Available"},"schema":{"$ref":"#/definitions/task-status"}}},"security":[{"OpsToken":[]}],"deprecated":false}},"/internal/adapterkinds/{adapterKindKey}/resourcekinds":{"post":{"tags":["Internal Adapter Kinds"],"summary":"Create a new Resource Kind in the system","description":"This API does not support localized names for the Resource Kind. Thus, during the creation one cannot specify the name for the Resource Kind. The Resource Kind key becomes the default localized name for the Resource Kind.","operationId":"createResourceKindUsingPOST","parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"name":"adapterKindKey","in":"path","description":"The Adapter Kind under which the Resource Kind needs to be created","required":true,"type":"string"},{"in":"body","name":"resourceKind","description":"The Resource Kind that needs to be created","required":true,"schema":{"$ref":"#/definitions/resource-kind"},"x-examples":{"application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:resource-kind key=\"NewObjectType\" xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:name>A new type of vCenter ManagedObject</ops:name>\n    <ops:resourceKindType>GENERAL</ops:resourceKindType>\n    <ops:resourceKindSubType>NONE</ops:resourceKindSubType>\n    <ops:resourceIdentifierTypes>\n        <ops:resourceIdentifierType name=\"VMEntityVCID\" dataType=\"STRING\" isPartOfUniqueness=\"true\"/>\n        <ops:resourceIdentifierType name=\"VMEntityObjectID\" dataType=\"STRING\" isPartOfUniqueness=\"true\"/>\n        <ops:resourceIdentifierType name=\"VMEntityName\" dataType=\"STRING\" isPartOfUniqueness=\"false\"/>\n    </ops:resourceIdentifierTypes>\n</ops:resource-kind>\n","application/json":"{\n  \"key\" : \"NewObjectType\",\n  \"name\" : \"A new type of vCenter ManagedObject\",\n  \"resourceKindType\" : \"GENERAL\",\n  \"resourceKindSubType\" : \"NONE\",\n  \"resourceIdentifierTypes\" : [ {\n    \"name\" : \"VMEntityVCID\",\n    \"dataType\" : \"STRING\",\n    \"isPartOfUniqueness\" : true\n  }, {\n    \"name\" : \"VMEntityObjectID\",\n    \"dataType\" : \"STRING\",\n    \"isPartOfUniqueness\" : true\n  }, {\n    \"name\" : \"VMEntityName\",\n    \"dataType\" : \"STRING\",\n    \"isPartOfUniqueness\" : false\n  } ]\n}"}}],"responses":{"201":{"description":"The Created Resource Kind","examples":{"application/json":"{\n  \"key\" : \"NewObjectType\",\n  \"name\" : \"A new type of vCenter ManagedObject\",\n  \"resourceKindType\" : \"GENERAL\",\n  \"resourceKindSubType\" : \"NONE\",\n  \"resourceIdentifierTypes\" : [ {\n    \"name\" : \"VMEntityVCID\",\n    \"dataType\" : \"STRING\",\n    \"isPartOfUniqueness\" : true\n  }, {\n    \"name\" : \"VMEntityObjectID\",\n    \"dataType\" : \"STRING\",\n    \"isPartOfUniqueness\" : true\n  }, {\n    \"name\" : \"VMEntityName\",\n    \"dataType\" : \"STRING\",\n    \"isPartOfUniqueness\" : false\n  } ]\n}","application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:resource-kind key=\"NewObjectType\" xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:name>A new type of vCenter ManagedObject</ops:name>\n    <ops:resourceKindType>GENERAL</ops:resourceKindType>\n    <ops:resourceKindSubType>NONE</ops:resourceKindSubType>\n    <ops:resourceIdentifierTypes>\n        <ops:resourceIdentifierType name=\"VMEntityVCID\" dataType=\"STRING\" isPartOfUniqueness=\"true\"/>\n        <ops:resourceIdentifierType name=\"VMEntityObjectID\" dataType=\"STRING\" isPartOfUniqueness=\"true\"/>\n        <ops:resourceIdentifierType name=\"VMEntityName\" dataType=\"STRING\" isPartOfUniqueness=\"false\"/>\n    </ops:resourceIdentifierTypes>\n</ops:resource-kind>\n"},"schema":{"$ref":"#/definitions/resource-kind"}}},"security":[{"OpsToken":[]}],"deprecated":false}},"/internal/adapters/{adapterId}/realtimemonitoring/disable":{"put":{"tags":["Internal Adapters"],"summary":"Disable the adapter instance realtime monitoring","operationId":"disableAdapterRealtimeMonitoringUsingPUT","produces":["*/*"],"parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"name":"adapterId","in":"path","description":"Adapter identifier","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"The adapter instance realtime monitoring is disabled successfully"}},"security":[{"OpsToken":[]}],"deprecated":false}},"/internal/adapters/{adapterId}/realtimemonitoring/enable":{"put":{"tags":["Internal Adapters"],"summary":"Enable the adapter instance realtime monitoring","operationId":"enableAdapterRealtimeMonitoringUsingPUT","produces":["*/*"],"parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"name":"adapterId","in":"path","description":"Adapter identifier","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"The adapter instance realtime monitoring is enabled successfully"}},"security":[{"OpsToken":[]}],"deprecated":false}},"/internal/adapters/{adapterId}/vcenter/register":{"put":{"tags":["Internal Adapters"],"summary":"Register vc with provided credentials, and id","description":"If force parameter passed as true, in case of vc already registered, registration will be overwritten","operationId":"registerVCUsingPUT","produces":["*/*"],"parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"name":"adapterId","in":"path","description":"adapterId","required":true,"type":"string","format":"uuid"},{"in":"body","name":"credentialParameters","description":"Vc registration request","required":true,"schema":{"$ref":"#/definitions/credential-params"},"x-examples":{"application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:credential-params username=\"vcUsername\" password=\"vcPassword\" xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"/>\n","application/json":"{\n  \"username\" : \"vcUsername\",\n  \"password\" : \"vcPassword\"\n}"}},{"name":"force","in":"query","description":"force","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"Successfully registered vcenter"},"400":{"description":"An invalid request body was specified or any constraints were violated"}},"security":[{"OpsToken":[]}],"deprecated":false}},"/internal/adapters/{adapterId}/vcenter/unregister":{"put":{"tags":["Internal Adapters"],"summary":"Unregister vc with provided credentials, and id","operationId":"unregisterVCUsingPUT","produces":["*/*"],"parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"name":"adapterId","in":"path","description":"adapterId","required":true,"type":"string","format":"uuid"},{"in":"body","name":"credentialParameters","description":"Vc unregistration request","required":true,"schema":{"$ref":"#/definitions/credential-params"},"x-examples":{"application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:credential-params username=\"vcUsername\" password=\"vcPassword\" xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"/>\n","application/json":"{\n  \"username\" : \"vcUsername\",\n  \"password\" : \"vcPassword\"\n}"}}],"responses":{"200":{"description":"Successfully unregistered vc"}},"security":[{"OpsToken":[]}],"deprecated":false}},"/internal/agent/upgrade":{"post":{"tags":["Agents"],"summary":"Upgrades a specific agent in the system","description":"Upgrades a specific agent in the system","operationId":"upgradeAgentUsingPOST","produces":["*/*"],"parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"in":"body","name":"agentUpgrade","description":"Object containing details of the agent and the bundle to upgrade.","required":true,"schema":{"$ref":"#/definitions/agent-upgrade"},"x-examples":{"application/xml":"No Custom Example is Available","application/json":"No Custom Example is Available"}}],"responses":{"200":{"description":"The agent is upgraded successfully"}},"security":[{"OpsToken":[]}],"deprecated":false}},"/internal/alertplugins/export":{"post":{"tags":["Internal Alert Plugins"],"summary":"Export notification plugins","description":"Exports notification plugins in json format.","operationId":"exportNotificationPluginsUsingPOST","produces":["application/json"],"parameters":[{"name":"EncryptionPassword","in":"header","description":"Key for encrypting sensitive information","required":false,"type":"string"},{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"in":"body","name":"exportParams","description":"The param for export request","required":true,"schema":{"$ref":"#/definitions/notification-plugins-export-params"},"x-examples":{"application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:notification-plugins-export-params xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:notificationPluginIds>\n        <ops:notificationPluginId>f686ef8b-bed4-4cc2-940a-3bacbf634618</ops:notificationPluginId>\n        <ops:notificationPluginId>863c2eda-362d-49af-9d25-4e7b7f7365cd</ops:notificationPluginId>\n    </ops:notificationPluginIds>\n</ops:notification-plugins-export-params>\n","application/json":"{\n  \"notificationPluginIds\" : [ \"99959092-d1a2-4abc-bcf6-c3bd93acc1ce\", \"bb242d09-75cd-4c3d-b8fc-a34b5f8cf145\" ]\n}"}}],"responses":{"200":{"description":"The notification plugins are exported successfully","examples":{"application/json":"No Custom Example is Available"},"schema":{"type":"string"}}},"security":[{"OpsToken":[]}],"deprecated":false}},"/internal/alertplugins/import":{"post":{"tags":["Internal Alert Plugins"],"summary":"Import notification plugins","description":"Imports notification plugins in json format","operationId":"importNotificationPluginsUsingPOST","parameters":[{"name":"EncryptionPassword","in":"header","description":"Key for decrypting sensitive information","required":false,"type":"string"},{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"name":"force","in":"query","description":"True to overwrite the existing entities, false to skip importing when there is a conflict","required":false,"type":"boolean","default":false,"allowEmptyValue":false,"x-example":false},{"name":"plugins","in":"formData","description":"A json file of notification plugins configurations to be imported","required":true,"type":"file"}],"responses":{"200":{"description":"The notification plugins are imported successfully","examples":{"application/json":"{\n  \"resultSummary\" : {\n    \"createdItems\" : [ {\n      \"id\" : \"6f291d91-a38f-4bf4-8011-81436d228fb6\",\n      \"type\" : \"Action\",\n      \"name\" : \"pluginName1\"\n    } ],\n    \"skippedItems\" : [ {\n      \"id\" : \"294cd68e-8073-4e5a-8e0f-de5cbfc123be\",\n      \"type\" : \"WebhookPlugin\",\n      \"name\" : \"pluginName3\"\n    } ]\n  }\n}","application/xml":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:notification-plugins-import-result xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:infoMessages/>\n    <ops:errorMessages/>\n    <ops:resultSummary>\n        <ops:createdItems>\n            <ops:createdItem xsi:type=\"ops:notificationPluginSummary\" id=\"33b004d6-3266-42f5-b991-d0b24997ebde\">\n                <ops:type>Action</ops:type>\n                <ops:name>pluginName1</ops:name>\n            </ops:createdItem>\n        </ops:createdItems>\n        <ops:updatedItems/>\n        <ops:skippedItems>\n            <ops:skippedItem xsi:type=\"ops:notificationPluginSummary\" id=\"591dfba7-d83d-4d6f-8747-fbba928c8a7a\">\n                <ops:type>WebhookPlugin</ops:type>\n                <ops:name>pluginName3</ops:name>\n            </ops:skippedItem>\n        </ops:skippedItems>\n        <ops:failedItems/>\n    </ops:resultSummary>\n</ops:notification-plugins-import-result>\n"},"schema":{"$ref":"#/definitions/notification-plugins-import-result"}}},"security":[{"OpsToken":[]}],"deprecated":false}},"/internal/applications/discovery/definitions":{"get":{"tags":["Applications"],"summary":"Get all application definitions","description":"Using this method, you can get all application discovery definitions, can request specific definitions by passing keys.","operationId":"getApplicationDefinitionsUsingGET","parameters":[{"name":"X-Ops-API-use-unsupported","in":"header","description":"Custom HTTP header name to be used by Suite API clients to acknowledge the fact\nthat the client intends to use a Suite API under the \"/internal\" endpoint even\nthough these backwards compatibility for these APIs is not guaranteed.","required":true,"type":"boolean"},{"name":"key","in":"query","description":"A list of identifiers","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false}],"responses":{"200":{"description":"Application definitions","examples":{"application/json":"{\n  \"definitions\" : [ {\n    \"type\" : \"rule-based-definition\",\n    \"resourceKind\" : \"resourceKind\",\n    \"prefix\" : \"prefix\",\n    \"filterCriteria\" : {\n      \"rules\" : [ {\n        \"resourceKindKey\" : {\n          \"resourceKind\" : \"resourceKind\",\n          \"adapterKind\" : \"adapterKind\"\n        },\n        \"statConditionRules\" : [ {\n          \"key\" : \"key\",\n          \"stringValue\" : \"value\",\n          \"doubleValue\" : 0.5,\n          \"compareOperator\" : \"EQ\"\n        } ],\n        \"propertyConditionRules\" : [ { } ],\n    
[...]
